<!DOCTYPE html> 

<html>

	<head>

		<meta charset="UTF-8" />

		<title>Modify Your Images</title>

	</head>

	<body class="" lang="en-US">


		<div id="content-wrapper">

			<section id="content">
                <form method="post"> {% csrf_token %}
                    <label>Select an image to apply a function to</label><br/>
                    <select name="image_id">
                    {% for i in imagelist%}
                        <option value="{{i.id}}">{{i}}</option>
                    {% endfor %}
                    </select><br/><br/>
                    <label>Select functions to apply</label><br/>
                    {% for f in functionlist%}
                    <input type="checkbox" name="functions" value="{{f.name}}" />{{f.displayname}}<br/>
                    {% for a in f.args %}
                    {{a.displayname}} : <input type="text" name="{{a.name}}" />
                    {% endfor %}<br />
                    {% endfor %}
                    <input type="submit" value="Submit"/>
                </form>
			</section>


		</div>

	</body>

</html>